@font-face {
    font-family: 'Nazanin';
    src: url('../../fonts/bnazanin-webfont.eot');
    src: url('../../fonts/bnazanin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bnazanin-webfont.woff2') format('woff2'),
         url('../../fonts/bnazanin-webfont.woff') format('woff'),
         url('../../fonts/bnazanin-webfont.ttf') format('truetype'),
         url('../../fonts/bnazanin-webfont.svg#b_nazaninregular') format('svg');
    font-weight: normal;
    font-style: normal;
}