<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<div class="row">
    <div class="col-md-6">

        <ul class="list-inline">
            <!-- Categories -->
            <li>
                {% if post.categories != empty %}
                <span class="fa fa-folder-open"></span>

                {% for category in post.categories %}
                <a href="#"> {{ category }}</a>,
                {% endfor %}
                {% endif %}
            </li>

            <!-- Tags -->
            <li>
                <span class="fa fa-bookmark"></span>
                {% for tag in post.tags %}
                <a href="#"> {{ tag }}</a>,
                {% endfor %}
            </li>
        </ul>


    </div>
    <div class="col-md-6 text-right">
        <span class="fa fa-clock-o"></span> {{ post.date | date: "%m.%d.%y" }}
    </div>
</div>

<p class="lead text-justify">
    {{ post.excerpt }} ...
</p>

<p class="text-right">
    <a href="{{ post.url }}" class="btn btn-primary">Read More <i
            class="fa fa-angle-right"></i></a>
</p>

<hr/>


<!-- <div class="tile">
    {% if post.featured_image or post.featured_video_id %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="featurette">
        {% if post.featured_image %}
        <span class="img" style="background-image: url('{{ post.featured_image }}');"></span>
        {% endif %}

        {% if post.featured_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ post.featured_video_id }}" frameborder="0"
                allowfullscreen></iframe>
        {% endif %}
    </a>
    {% endif %}
</div> -->